# Virtual environments
.venv/
**/.venv/
Lib/
Scripts/
**/Lib/
**/Scripts/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Audio and large binaries
*.wav
*.pt
*.bin
*.ckpt
checkpoint_*
*/tacotron2/model/

# Misc
.DS_Store
